apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
  labels:
    app: fastapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi-container
        image: us-central1-docker.pkg.dev/sirisha-test1/fastapi-repo/fastapi-gke-demo:{{TAG}}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
